.app-container {
	display: grid;
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	grid-template-columns:
		[sidebar-start] 8rem [sidebar-end full-start]
		minmax(6rem, 1fr) [center-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[center-end] minmax(6rem, 1fr) [full-end];

	& > * {
		font-size: 3rem;
	}
}

.sidebar {
	background-color: var(--color-primary);
	grid-column: sidebar-start/sidebar-end;
	grid-row: 1/-1;
}

.header {
	background-color: var(--color-grey-dark-1);
	grid-column: full-start/col-end 6;
}

.realtors {
	background-color: var(--color-secondary);
	grid-column: col-start 7 / full-end;
}

.features {
	grid-column: center-start/center-end;
	margin: 15rem 0;

	display: grid;
	grid-gap: 6rem;
	//grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	align-items: start;
}

.feature {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-row-gap: 1.5rem;
	grid-column-gap: 2.5rem;

	&__icon {
		fill: var(--color-primary);
		width: 4.5rem;
		height: 4.5rem;
		transform: translateY(-1rem);

		grid-row: 1 / span 2;
	}

	&__text {
		font-size: 1.7rem;
	}
}

.story {
	&__pictures {
		background-image: linear-gradient(rgba(#c69963, 0.5), rgba(#c69963, 0.5)),
			url(./img/back.jpg);

		background-color: var(--color-primary);
		grid-column: full-start/col-end 4;

		display: grid;
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(6, 1fr);
		align-items: center;
	}

	&__img--1 {
		width: 100%;
		grid-row: 2/6;
		grid-column: 2/6;
		box-shadow: 0 2rem 5rem rgba(#000, 0.1);
	}

	&__img--2 {
		width: 115%;
		grid-row: 4/6;
		grid-column: 4/7;
		z-index: 30;
		box-shadow: 0 2rem 5rem rgba(#000000, 0.2);
	}

	&__content {
		background-color: var(--color-grey-light-1);
		grid-column: col-start 5 / full-end;
		padding: 6rem 8vw;

		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: flex-start;

		display: grid;
		align-content: center;
		justify-items: start;
	}

	&__text {
		font-size: 1.5rem;
		font-style: italic;
		margin-bottom: 4rem;
	}
}

.homes {
	grid-column: center-start/center-end;
	margin: 15rem 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 7rem;
}

.home {
	background-color: var(--color-grey-light-1);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 3.5rem;

	&__img {
		width: 100%;
		grid-column: 1/-1;
		grid-row: 1/2;
		z-index: 1;
	}

	&__like {
		fill: orange;
		margin: 1rem;
		width: 2.5rem;
		height: 2.5rem;
		z-index: 2;

		grid-column: 2/3;
		grid-row: 1/2;
		justify-self: end;
	}

	&__name {
		width: 80%;
		justify-self: center;
		align-self: end;
		z-index: 3;

		grid-column: 1/-1;
		grid-row: 1/2;

		font-family: cursive;
		font-size: 1.6rem;
		text-align: center;
		padding: 1.25rem;
		background-color: var(--color-secondary);
		color: #fff;
		font-weight: 400;

		transform: translateY(50%);
	}

	&__rooms,
	&__location {
		margin-top: 2.5rem;
	}

	&__rooms,
	&__location,
	&__area,
	&__price {
		font-size: 1.5rem;
		margin-left: 2rem;

		display: flex;
		align-items: center;
		&--svg {
			fill: var(--color-primary);
			height: 2rem;
			width: 2rem;
			margin-right: 1rem;
		}
		&--name {
		}
	}

	&__btn {
		grid-column: 1/-1;
	}
}

.gallery {
	background-color: var(--color-grey-dark-1);
	grid-column: full-start/full-end;
}

.footer {
	background-color: var(--color-secondary);
	grid-column: full-start/full-end;
}

//typography

%heading {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
}

.heading-1 {
	@extend %heading;
}
.heading-2 {
	@extend %heading;
	line-height: 1;
	font-size: 4rem;
	font-style: italic;

	&--light {
		color: var(--color-grey-light-1);
	}

	&--dark {
		color: var(--color-grey-dark-1);
	}
}
.heading-3 {
	@extend %heading;
	font-size: 1.6rem;
	color: var(--color-primary);
	text-transform: uppercase;
}
.heading-4 {
	@extend %heading;
	font-size: 1.9rem;

	&--light {
		color: var(--color-grey-light-1);
	}

	&--dark {
		color: var(--color-grey-dark-1);
	}
}

.btn {
	background-color: var(--color-primary);
	color: #fff;
	border: none;
	border-radius: 0;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 1.8rem 3rem;
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		background-color: var(--color-primary-dark);
	}
}

//helper classes

.mb-sm {
	margin-bottom: 2rem;
}

.mb-md {
	margin-bottom: 3rem;
}

.mb-lg {
	margin-bottom: 4rem;
}

.mb-hg {
	margin-bottom: 8rem;
}
